﻿@{
    ViewBag.Title = "Index";
}

@section head {
    @Html.IncludeJSTemplates(dialect:"dom")

    <style type="text/css">
        .field
        {
            margin-top: 5px;
        }

        .field .label
        {
            width: 200px;
            display: inline-block;
            float:left;
        }

        .field .value
        {
            display: block;
            margin-left: 205px;
        }
    </style>
}
<h2>Binding Example</h2>

<div id="personSelector"></div>
<fieldset>
    <legend>Person</legend>
    <div id="person"></div>
</fieldset>

<button id="adrian">Adrian</button>
