﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
     <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
     <script src="@Url.Content("~/Scripts/CubeBuild.Bindings.js")"></script>
    @RenderSection("head", false)
</head>
<body>
    @RenderBody()
</body>
</html>
