﻿@{
    ViewBag.Title = "Index";
}

<h2>JSRazor Examples</h2>
<ul>
    <li>@Html.ActionLink("Calendar", "Index", "Calendar")</li>
    <li>@Html.ActionLink("Data Binding", "Index", "Binding")</li>
    <li>@Html.ActionLink("Team (More Bindings)", "Index", "Team")</li>
</ul>