﻿@section head {
    @Html.IncludeJSTemplatesFixed("dom")
    <script type="text/javascript">
        $(function () {

            var helloWorld = new HelloWorld();
            var place = $("#fixed");
            helloWorld.render(place[0], null);

        });
    </script>
}

@{
    ViewBag.Title = "Fixed";
}

<h2>Fixed</h2>
<div id="fixed" />
