﻿@{
    ViewBag.Title = "Index";
}

@section head{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    @Html.IncludeJSTemplates()        
}

@Html.ActionLink("Switch to DOM Dialect", "DOM")

<div id="testResults"></div>
<p style="background-color:red">If this page is empty, there is an issue with the javascript rendered into the template</p>