﻿@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section head{
    @Html.IncludeJSTemplates()
    <link type="text/css" rel="stylesheet" href="~/Content/calendar.css" />
}

<div id="calendar"></div>

