﻿@{
    ViewBag.Title = "Index";
}

<h2>JSRazor TryIt</h2>
<h3>Instructions</h3>
<p>Enter the JSRazor code into the template section and hit 'Transform'.  The template is then rendered using the model object as its model.</p>
<div class="row-fluid">
    <div class="span6 panel">
        <h2>Model</h2>
        <textarea id="model">{ "Name": "JSRazor Javascript Templates" }</textarea>
        <h2>Template Source</h2>
        <textarea id="template" rows="20">
@@* This template attaches an inline event to the object, see the JSRazor wiki for more *@@
&lt;div&gt;Hello from @@Model.Name!&lt;/div&gt;
@@attach click(function() {alert("You clicked me!"); })
        </textarea>
        <button onclick="TryIt.Transform()" class="btn">Transform</button>
    </div>
    <div class="span6 panel">

        <h2>Rendered Result</h2>
        <div id="renderedResult">
        </div>

        <h3>Error Log</h3>
        <div id="errorLog">
        </div>

        <h2>Generated Javascript</h2>
        <div id="javascriptSource">
        </div>

    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/snippet-js")
    @Styles.Render("~/bundles/snippet-css")
    @Html.IncludeJSTemplates()

    <style type="text/css">
        body
{
    background-color: slategray;
    margin:1em;
    color:white;
}
textarea
{
    width: 90%;
    display: block;
}

.panel
{
    text-align: left;
    padding: 1em;
    background-color:white;
    color:black;
    border-radius: 5px;
}

.error
{
    color:red;
}

    </style>
}
