﻿@{
    ViewBag.Title = "Index";
}
@section head {
    @Html.IncludeJSTemplates(dialect: "dom")
}
<h2>Team Page</h2>
<p>This page uses bindings, template and helper bindings to keep the page in sync with the underlying data model.</p>
<div id="team"></div>
<button onclick="changeall()">Update</button>
